backend/.env
/Users/sandarbh/Projects/github/dashboard/backend/.env
/Users/sandarbh/Projects/github/dashboard/frontend/.env

node_modules/*
backend/node_modules/*
frontend/node_modules/*
backend/routine*

*/*/*copy*
frontend/*/*copy*
backend/*/*copy*
scripting
backend/routes/auth.js
for_claude
backend/cookies.txt
backend/db/schema.sql.DONOTCHECKIN
*/tailscale.md 
.env.development
backend/uploads/*
backend/config.js
frontend/src/scenes/ZNOT_IN_USE/*
frontend/public/*png
frontend/public/*png*
frontend/public/*svg
frontend/public/*svg*